.custom-select {
    background-color: rgb(34,34,34);
    color: rgb(136,136,136);
  }

.form-control {
    background-color: #000000;
    color: #fff;
  }

html, body, #react-entry-point {
  height: 100%;
}
